In [81]:
import pandas as pd

In [83]:
data = pd.read_csv("C:\\Users\\HP\\OneDrive\\Documents\\datasets\\Titanic-Dataset.csv")

In [85]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [87]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [89]:
data[['Age']] = data[['Age']].fillna(data[['Age']].median())

In [91]:
data.columns = data.columns.str.strip()   # remove spaces from column names
print(data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [93]:
data['Cabin'] = data['Cabin'].fillna(data['Cabin'].mode()[0])
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

In [95]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,B96 B98,Q

In [97]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [99]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Sex'] = le.fit_transform(data['Sex'])

# data['Embarked'] = le.fit_transform(data['Embarked']) 
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

In [101]:
data = data.drop(['PassengerId', 'Ticket', 'Cabin'], axis=1)
data['FamilySize'] = data['SibSp'] + data['Parch']+1

data.drop(['SibSp', 'Parch'], axis=1)

,Survived,Pclass,Name,Sex,Age,Fare,Embarked_Q,Embarked_S,FamilySize
0,0,3,"Braund, Mr. Owen Harris",1,22.0,7.2500,False,True,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,71.2833,False,False,2
2,1,3,"Heikkinen, Miss. Laina",0,26.0,7.9250,False,True,1
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,53.1000,False,True,2
4,0,3,"Allen, Mr. William Henry",1,35.0,8.0500,False,True,1
...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",1,27.0,13.0000,False,True,1
887,1,1,"Graham, Miss. Margaret Edith",0,19.0,30.0000,False,True,1
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,28.0,23.4500,False,True,4
889,1,1,"Behr, Mr. Karl Howell",1,26.0,30.0000,False,False,1
890,0,3,"Dooley, Mr. Patrick",1,32.0,7.7500,True,False,1

In [104]:
data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,FamilySize
0,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,7.2500,False,True,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,71.2833,False,False,2
2,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,7.9250,False,True,1
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,53.1000,False,True,2
4,0,3,"Allen, Mr. William Henry",1,35.0,0,0,8.0500,False,True,1
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,13.0000,False,True,1
887,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,30.0000,False,True,1
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,28.0,1,2,23.4500,False,True,4
889,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,30.0000,False,False,1
890,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,7.7500,True,False,1

In [106]:
x = data[['Pclass', 'Sex', 'Age', 'Fare', 'Embarked_Q', 'Embarked_S', 'FamilySize']]
y = data['Survived']

In [108]:
# train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [110]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)

LogisticRegression(max_iter=200)

In [138]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix: \n", confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.8044692737430168
Confusion Matrix:
 [[90 15]
 [20 54]]
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       105
           1       0.78      0.73      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.79      0.80       179
weighted avg       0.80      0.80      0.80       179

In [150]:
import pandas as pd

# Example inputs
test_data = pd.DataFrame([
    # Case 1: Original input (Not Survived expected)
    {"Pclass": 3, "Sex": "male", "Age": 22, "Fare": 7.25, "SibSp": 1, "Parch": 0},
    
    # Case 2: Adjusted input (Survived expected)
    {"Pclass": 2, "Sex": "female", "Age": 28, "Fare": 15.0, "SibSp": 1, "Parch": 0}
])

# Create FamilySize
test_data["FamilySize"] = test_data["SibSp"] + test_data["Parch"]

# One-hot encode categorical variables (align with training data)
test_data = pd.get_dummies(test_data, columns=["Sex"], drop_first=True)  # creates Sex_male

# Align columns with model's training data
missing_cols = set(X_train.columns) - set(test_data.columns)  # X_train = training features
for col in missing_cols:
    test_data[col] = 0
test_data = test_data[X_train.columns]

# Predict
predictions = model.predict(test_data)
probabilities = model.predict_proba(test_data)[:, 1]


for i, prob in enumerate(probabilities):
    print(f"Passenger {i+1} â†’ Survival Probability: {prob * 100:.2f}%")

Passenger 1 â†’ Survival Probability: 74.94%
Passenger 2 â†’ Survival Probability: 86.61%